*{box-sizing: border-box}

article {
    display: grid;
    grid-template-columns: repeat(4,100px); /*oszlopok száma*/
    grid-template-rows: repeat(3, 120px); /**/
    background-color: black;
    grid-column-start: 4;
    grid-column-end:
    
}

article div:nth-child(1){
    grid-column-start: 4;
    grid-row-start: 4;
}

article div:nth-child(2){
    grid-column-start: 1;
    grid-row-start: 2;
}

article div:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 2;
}

article div:nth-child(4){
    grid-column-start: 1;
    grid-row-start: 1;
}

article div:nth-child(5){
    grid-column-start: 3;
    grid-row-start: 2;
}

article div:nth-child(6){
    grid-column-start: 2;
    grid-row-start: 1;
}

article div:nth-child(7){
    grid-column-start: 3;
    grid-row-start: 3;
}

article div:nth-child(8){
    grid-column-start: 2;
    grid-row-start: 3;
}

article div:nth-child(9){
    grid-column-start: 4;
    grid-row-start: 2;
}

article div:nth-child(10){
    grid-column-start: 1;
    grid-row-start: 3;
}

img {
    width: 100%;
    
    padding: 10px;
    
    
}

div {
    color: grey;
    border: 1px solid gray;
    padding-top: 5px;
    text-align: center;
   
}

h1 {
    color: green;
    
}

header {
    border: solid gray;
}

nav {
    padding: 20px 20px 0px 20px;
    
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
    border: solid grey;
    
    
}

nav ul li {
    padding: 10px;
    background-color: green;
    text-align: center;
    
}

nav ul a {
    text-decoration: none;
    color: yellow;

}

nav a hover {
    color:yellow;
}